.footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 140px;
  background: var(--background-section);
  position: relative;
}

.line {
  background: linear-gradient( 265.22deg, #28f5be00 -1.83%, #28F5BE 50%, #28f5be00 100%);
  transform: rotate( -180deg);
  width: 100%;
  height: 1px;
  max-width: 400px;
}

.contentIcons {
  display: flex;
  margin-top: 15px;
  width: 150px;
  justify-content: space-between;
}

.contentIcons>a>img {
  width: 25px;
}

.text {
  font-size: 1rem;
  color: var(--text-color-03);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2.2rem;
  right: 4rem;
  background: var(--background-card);
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
}

.top a {
  animation: arrowTop 1s infinite alternate;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@keyframes arrowTop {
  0% {
    transform: translate(0, 2px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -2px);
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .top {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 0.8rem;
  }
  .top {
    right: 1rem;
  }
}

@media screen and (max-width:380px) {
  .text {
    font-size: 0.7rem;
  }
}